name: Deploy to Amazon Web Services

on:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy-to-aws:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        environment: [ dev ]
    environment: ${{ matrix.environment }}
    steps:
      - uses: actions/checkout@v5
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT }}:role/PrimaryPipelineRole
          role-session-name: github-workflows-session
          aws-region: ${{ vars.AWS_REGION }}
      - name: Install deployment dependencies
        run: |
          curl --silent --location "https://github.com/eksctl-io/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | tar xz -C /tmp
          sudo mv /tmp/eksctl /usr/local/bin
      - run: |
          aws cloudformation deploy \
            --stack-name bootstrap \
            --template-file aws/bootstrap.yaml \
            --parameter-overrides OrgName=${{ github.repository_owner }} RepoName=${{ github.event.repository.name }} \
            --capabilities CAPABILITY_NAMED_IAM
      - run: |
          terraform init \
            -backend-config="bucket=tf-state-bucket-${{ vars.AWS_ACCOUNT }}" \
            -backend-config="key=terraform.tfstate" \
            -backend-config="region=${{ vars.AWS_REGION }}" \
            -backend-config="dynamodb_table=tf-state-table"
        working-directory: aws
      - run: |
          terraform apply -auto-approve \
            -var="region=${{ vars.AWS_REGION }}"
        working-directory: aws
      - run: aws eks update-kubeconfig --name kube-cluster --region ${{ vars.AWS_REGION }}
      - run: AWS_ACCOUNT=${{ vars.AWS_ACCOUNT }} sh aws/init/install-access-role.sh
      - run: sh common/init/install-argocd.sh
      - run: sh common/init/install-cnpg.sh
      - run: AWS_REGION=us-east-1 sh aws/init/install-ebs-csi-driver.sh || true
      - run: docker build common/sample-app -t ${{ vars.AWS_ACCOUNT }}.dkr.ecr.${{ vars.AWS_REGION }}.amazonaws.com/kube
      - run: AWS_ACCOUNT=${{ vars.AWS_ACCOUNT }} AWS_REGION=${{ vars.AWS_REGION }} ./aws/scripts/push-app-image.sh