name: Deploy to AWS

on:
  workflow_dispatch:

jobs:
  deploy-to-aws:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC token
      contents: read
    
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/${{ github.event.repository.name }}
          aws-region: us-east-1
      - run: aws sts get-caller-identity